<div class="row my-3">
    <div class="col-md-6">
        <h3 class="text-prim">Detalles de contactos</h3>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary d-block" style="float: right"
            data-bs-toggle="modal" data-bs-target="#createContact">
            Nuevo contacto
        </button>
    </div>

</div>

<table class="table table-bordered" id="custom-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Correo</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{!-- {{#each contacts}}
        <tr>
            <th scope="row">#{{this._id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.lastname}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td scope="row" class="text-center">
                <button class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
        {{/each}} --}}
    </tbody>
</table>

{{> modal}}